@*
    //Start page - picture of an aggressive looking ship with a start button EZ
*@

@{

}

<div class="container_content-wrapper">
    <div class="container_content">
        <h1>Experience Naval Warfare</h1>
        <img href="/MvcBattleships/assets/images/big-aggressive-ship.png" alt="Big Aggressive Ship" />
        <input type="button" value="Start" onclick="location.href='@Url.Action("Index", "Game")'" />
    </div>
</div>